<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1><%= actor.first_name%><%= actor.last_name%></h1>
    <p>Rating:<%= actor.rating %></p>
    <p>Pelicula favorita:<%= actor.favorite_movie_id %></p>   
    <button type="button">BORRAR</button>
    <button type="button">MODIFICAR</button>   
    
    <%- include('partials/footer.ejs') %>
</body>
</html>